# Integrasi AI & App
GEMINI_API_KEY="ISI_GEMINI_API_KEY_MAS"
APP_URL="ISI_URL_APP_MAS"

# Konfigurasi Database Utama (Prisma)
DATABASE_URL=postgresql://postgres:Kuningan191222@db.tcyexwczjtmozouqmipw.supabase.co:5432/postgres

# Supabase Admin Key (Opsional - untuk server-side)
SUPABASE_SERVICE_ROLE_KEY="ISI_SERVICE_ROLE_KEY_DARI_DASHBOARD"

# Email (Jika digunakan di server.ts)
EMAIL_USER=ismantoj88@gmail.com
EMAIL_PASS=Kuningan8%